@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Special+Elite:wght@400&display=swap');

h1 {
  font-family: pf-pixelscript, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 2.25rem;
  
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
  }
}

p {
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255 255 255 / 60%);
}

@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
}

/* Carousel Styles */
.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  width: 100%;
  height: 500px;
}

.swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Menu Styles */
#mobile-menu {
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

#menu-toggle img {
  transition: transform 0.3s ease;
}

#menu-toggle:hover img {
  transform: rotate(180deg);
}