---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <div class="container mx-auto px-4 py-8 text-center">
    <h1>About Me</h1>
    <div class="max-w-2xl mx-auto prose prose-lg bg-white/80">
      <p>
       Hola! Soy Eco 404, mi nombre real es Olinca y soy una artista visual y digital.

       Me gusta crear contenido para internet, mezclandolo con la realidad y a través de la experimentación con tecnología.
       Todo el contenido que se muestra en este sitio es creado por mi, y representa mi personalidad en internet.
       <br>
       <br>
       En mis proyectos podrás observar mi trabajo mezclando diferentes tipos de formatos, en contenido 
       que extraigo de mi día a día. En esto trato de transmitir mi cultura, mis gustos y mi personalidad.
      </p>
    </div>
    <div class="flex justify-center mt-8">
      <video 
        class="w-full max-w-2xl rounded-lg shadow-lg"
        autoplay
        muted
        loop
        playsinline
      >
        <source src="/umbral.mp4" type="video/mp4" />
        Tu navegador no soporta el elemento de video.
      </video>
    </div>
  </div>
</Layout> 