---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';
import VideoIntro from '../components/VideoIntro.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome">
  <VideoIntro slot="before-header" />
  <Carousel slot="before-header" />
  <div class="container mx-auto px-4">
    <section class="py-12 text-center">
      <h1>Bienvenidxs</h1>
      <p class="text-xl text-center max-w-2xl mx-auto bg-white/80">
        Explore my galeria and learn more about my work through this interactive showcase.
      </p>
    </section>
  </div>  
</Layout>

<style>
  .mt-screen {
    margin-top: 100vh;
  }
</style>
