---
import { Image } from 'astro:assets';
import yoImage from '../assets/yO.JPG';
import espjoImage from '../assets/esPjo.JPG';
import camionImage from '../assets/camion.JPG';

const images = [
  { src: yoImage, alt: 'Yo' },
  { src: espjoImage, alt: 'Espejo' },
  { src: camionImage, alt: 'Camión' }
];
---

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {images.map((image) => (
      <div class="swiper-slide">
        <Image 
          src={image.src} 
          alt={image.alt}
          class="w-full h-[500px] object-cover"
        />
      </div>
    ))}
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';

  new Swiper('.mySwiper', {
    modules: [Autoplay],
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    loop: true,
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 500px;
  }
</style> 