---
import videoFile from '../assets/vid.mp4';
---

<div class="video-section w-full h-screen">
  <video 
    id="intro-video"
    class="w-full h-full object-cover"
    autoplay 
    muted 
    playsinline
    loop
  >
    <source src={videoFile} type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<style>
  .video-section {
    position: relative;
  }
</style> 